* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  color: white;
  font-family: "Plain light";
}

/* parent */
#main {
  position: relative;
  background-color: black;
}
/* page-1 */
.page-1 {
  height: 100vh;
  background-color: rgb(0, 0, 0);
}
.head-num h2{
  font-size: 5vw;
  font-family: silk serif;

}


/* loader */
.loader {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  padding: 25vh 10vw;
}
.timer {
  font-size: 2vw;
  padding: 1vw;
  width: 10vw;
}

.line {
  height: fit-content;
  overflow: hidden;
  display: flex;

  justify-content: flex-start;
}
#line-1-part-1 .timer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#line-1-part-1 h1 {
  font-family: "silk serif";
}

.line-1 h1 {
  font-size: 5vw;
  text-transform: uppercase;
  font-weight: 900;
}

.line-1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.my-head {
  font-size: 3vw;
  text-transform: uppercase;
  font-weight: 900;
  margin-left: 4rem;
}

.line-1 h2 {
  font-family: silk serif;
  font-weight: 100;
  font-size: 6vw;
  text-transform: uppercase;
}
