* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  background-color: black;
  color: white;
}
#main {
  width: 100%;
  height: 100vh;
  background-color: black;
}

#nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.nav-list {
  display: flex;
  gap: 22px;
  font-weight: 200;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
span {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

p {
  text-transform: capitalize;
  color: white;
  font-size: 1.1rem;
}

.main-box {
  width: 100%;
  padding: 1rem;
  height: 100%;
}

.header {
  text-transform: capitalize;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 10%;

  padding: 1rem;
}
.header h1 {
  width: 80%;
  position: relative;
  z-index: 2;
  font-weight: 200;
  margin: auto;
  text-align: center;
}
.header h1:nth-child(1) {
  font-size: 4rem;
  margin-right: 15rem;
}

.header h1:nth-child(2) {
  font-size: 4rem;
  display: flex;
  justify-content: flex-end;
}

.header h1:nth-child(3) {
  font-size: 3rem;
}

.img-boxes img {
  width: 14.1%;
  top: 20%;
  border-radius: 1rem;
  left: 50%;
  position: absolute;
  right: 50%;
  z-index: 1; /* Sets image behind the text */
}
#img-1 {
  rotate: 0deg;
}
#img-2 {
  rotate: 40deg;
}
#img-3 {
  rotate: 30deg;
}

#img-4 {
  rotate: 44deg;
}

/* parent */
.box-1 {
  width: 100%;
  height: 100vh;
}
/* parent */
.cards {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  width: 100%;
  height: 100%;
  rotate: 50deg;

  gap: 2rem;
}
.icons i:nth-child(1n) {
  font-size: 3em;
  color: red;
}
.content-of-card {
  width: 100%;
  height: 50%;
  padding: 2rem;
  border-radius: 12px;
  background-color: rgb(19, 19, 19);
}

.content-of-card .heading {
  font-size: 1.4em;
  text-transform: capitalize;
  font-family: "Times New Roman", Times, serif;
}

/* main-parent */
.about-me-div {
  width: 100%;
  height: 100%;
  padding: 2rem;
  color: white;
  display: flex;
  justify-content: space-around;
}
/* container-div */
.container-div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.content-about {
  padding: 4rem;
}
.header-text {
  text-transform: capitalize;
  font-size: 1em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 40px;
}

.btn {
  width: 50%;
  font-size: 1em;
  text-transform: capitalize;
  font-weight: bolder;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.copy-right {
  display: flex;
  font-family: "Courier New", Courier, monospace;
  color: white;
  justify-content: center;
  align-items: center;
}
